name: Build Yeoboe APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Grant permission
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew assembleDebug
      - name: Save APK
        uses: actions/upload-artifact@v3
        with:
          name: Yeoboe-App
          path: app/build/outputs/apk/debug/*.apk
